/*details*/
.galeria {
  width: 100%;
  margin: 4rem auto;
  background: #fff;
  border-radius: 0.8rem;
  overflow: hidden;
}

.galeria > img {
  width: 100%;
  height: 30rem;
  object-fit: cover;
}

.images {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  /*column-gap: 1.6rem;*/
  margin: 16px 40px 0;
}

.images button {
  border: 0;
  background: none;
  /*height: 8.8rem;
  cursor: pointer;*/
  border-radius: 0.8rem;
  overflow: hidden;
  opacity: 0.6;
  transition: opacity 2ml;
}

.images button:hover,
.images button.active {
  opacity: 1;
}

.images button img {
  width: 100%;
  height: 8.8rem;
  object-fit: cover;
}

.galeria-content {
  padding: 8rem;
}

@media (min-width: 280px) and (max-width: 653px) {
  .galeria {
    display: none !important;
  }

  #box-galeria {
    display: none;
  }
}

@media (min-width: 320px) and (max-width: 568px) {
  .galeria {
    display: none !important;
  }

  #box-galeria {
    display: none;
  }
}

@media (min-width: 360px) and (max-width: 640px) {
  .galeria {
    display: none !important;
  }

  #box-galeria {
    display: none;
  }
}
